@code{
    import io.vertx.lang.php.codegen.PhpModelInfo;
    var t = new PhpModelInfo(type, methods);
}
<?php\n
namespace @{t.namespace};\n
@foreach{importClass : t.importClassSet}
use @{importClass}.replace(".", "\\");\n
@end{}
class @{t.className}\n
{\n
\n
}\n