@code{var lang = "java";}
@includeNamed{'commons.templ';}

package @{type.raw.translatePackageName("php")};\n


import php.runtime.annotation.Reflection.Name;\n
import php.runtime.annotation.Reflection.Namespace;\n
import php.runtime.annotation.Reflection.Signature;\n

@Name("@{className}")\n
@Namespace("@{namespace}")\n
public class @{className} {\n
\n
}\n